@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary:rgb(89, 121, 142);
  --color-third:#decb8c
}


html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.parallax {
  /* The image used */
  /* Full height */
  height: 450px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.image1 {
  background-image: url('/assets/hiker-looks-out-over-bay-surrounded-by-mountains (1).jpg');
}